<footer class="footer">
  <div class="container-fluid">
    <span class="text-muted">
      <a href="/" class="text-info pr-2">Home</a>
      <a href="/" class="text-info pr-2">Login</a>
      <a href="/" class="text-info pr-2">Register</a>
      <a href="historical" class="text-info">History</a>
      <br/>FoodFinder &copy;2019 by Setapa-I Food</span>
  </div>
</footer>
