<!-- NAVIGATION -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">FoodFinder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="historical">History</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/login" method="get">
          <button class="btn btn-success my-2 my-sm-0 mx-2" type="submit">Log in</button>
        </form>
        <form class="form-inline my-2 my-lg-0" action="/register" method="get">
          <button class="btn btn-warning my-2 my-sm-0 ml-2" type="submit">Sign Up</button>
        </form>
      </div>
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</header>
<!-- NAVIGATION -->
