<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Result - FoodFinder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
  <link href="sticky-footer-navbar.css" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">

  <!-- Custom font -->
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

  <!-- Custom icon -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
  body > .jumbotron {
    padding-top: 100px;
  }
  </style>
</head>

<body>
<!--Navbar-->
{{> navbar}}

<!-- Begin page content -->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Results</h1>
    <p class="lead">Suggestion for food around the given location.</p>
  </div>
</div>

<div class="row container-fluid">
  <table class="table table-hover">
    {{#list items}}<tr><td>{{name}}</td><td>{{address}}</td><td><img src={{photo_reference}} width="200" height="200"></td><td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">Detail</button></td></tr>{{/list}}
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Sceret Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipOwU6g7tEM5YMzN2vjvrPxYIdLOz2ZneUg4YGeg=s1600-w400" width="445" height="350">
        </div>
        <hr>
        <div class="container">
          <h5>Address:</h5>
          <p>38, Jalan Mahsuri, Bandar Bayan Baru, Bayan Lepas</p>
          <h5>Phone:</h5>
          <p>04-644 3488</p>
        </div>
        <hr>
        <div class="container">
            <h2>Feedback</h2>
            <span class="fa fa-star checked" onmouseover="starmark(this)" onclick="starmark(this)" id="1star" style="font-size: 30px; cursor: pointer;"></span>
            <span class="fa fa-star checked" onmouseover="starmark(this)" onclick="starmark(this)" id="2star" style="font-size: 30px; cursor: pointer;"></span>
            <span class="fa fa-star checked" onmouseover="starmark(this)" onclick="starmark(this)" id="3star" style="font-size: 30px; cursor: pointer;"></span>
            <span class="fa fa-star checked" onmouseover="starmark(this)" onclick="starmark(this)" id="4star" style="font-size: 30px; cursor: pointer;"></span>
            <span class="fa fa-star checked" onmouseover="starmark(this)" onclick="starmark(this)" id="5star" style="font-size: 30px; cursor: pointer;"></span>   
            <br/>
            <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                    <br>
                    <button type="button" class="btn btn-success" onclick="showRating()">Submit</button>
            </div>
          </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
{{> footer}}
<!-- FOOTER -->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
