.navbar-brand
{
  font-family: 'Staatliches', cursive;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}

.head1
{
  font-family: 'Staatliches', cursive;
  font-size: 3.75rem;
  letter-spacing: 0.05rem;
}
